<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>BlogSphere</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signup_servlet</display-name>
    <servlet-name>signup_servlet</servlet-name>
    <servlet-class>com.blogsphere.auth.signup_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup_servlet</servlet-name>
    <url-pattern>/signup_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signin_servlet</display-name>
    <servlet-name>signin_servlet</servlet-name>
    <servlet-class>com.blogsphere.auth.signin_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin_servlet</servlet-name>
    <url-pattern>/signin_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signin_admin_servlet</display-name>
    <servlet-name>signin_admin_servlet</servlet-name>
    <servlet-class>com.blogsphere.auth.signin_admin_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin_admin_servlet</servlet-name>
    <url-pattern>/signin_admin_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_dashboard_servlet</display-name>
    <servlet-name>admin_dashboard_servlet</servlet-name>
    <servlet-class>com.blogsphere.admin.admin_dashboard_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_dashboard_servlet</servlet-name>
    <url-pattern>/admin_dashboard_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_panel_servlet</display-name>
    <servlet-name>admin_panel_servlet</servlet-name>
    <servlet-class>com.blogsphere.admin.admin_panel_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_panel_servlet</servlet-name>
    <url-pattern>/admin_panel_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>warn_user_servlet</display-name>
    <servlet-name>warn_user_servlet</servlet-name>
    <servlet-class>com.blogsphere.admin.warn_user_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>warn_user_servlet</servlet-name>
    <url-pattern>/warn_user_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_user_servlet</display-name>
    <servlet-name>delete_user_servlet</servlet-name>
    <servlet-class>com.blogsphere.admin.delete_user_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_user_servlet</servlet-name>
    <url-pattern>/delete_user_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signout_servlet</display-name>
    <servlet-name>signout_servlet</servlet-name>
    <servlet-class>com.blogsphere.auth.signout_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signout_servlet</servlet-name>
    <url-pattern>/signout_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgot_pwd_servlet</display-name>
    <servlet-name>forgot_pwd_servlet</servlet-name>
    <servlet-class>com.blogsphere.auth.forgot_pwd_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgot_pwd_servlet</servlet-name>
    <url-pattern>/forgot_pwd_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validate_otp_servlet</display-name>
    <servlet-name>validate_otp_servlet</servlet-name>
    <servlet-class>com.blogsphere.auth.validate_otp_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validate_otp_servlet</servlet-name>
    <url-pattern>/validate_otp_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validateOTP_servlet</display-name>
    <servlet-name>validateOTP_servlet</servlet-name>
    <servlet-class>com.blogsphere.auth.validateOTP_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateOTP_servlet</servlet-name>
    <url-pattern>/validateOTP_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verify_otp_servlet</display-name>
    <servlet-name>verify_otp_servlet</servlet-name>
    <servlet-class>com.blogsphere.auth.verify_otp_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verify_otp_servlet</servlet-name>
    <url-pattern>/verify_otp_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reset_pwd_servlet</display-name>
    <servlet-name>reset_pwd_servlet</servlet-name>
    <servlet-class>com.blogsphere.auth.reset_pwd_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reset_pwd_servlet</servlet-name>
    <url-pattern>/reset_pwd_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upload_pfp_servlet</display-name>
    <servlet-name>upload_pfp_servlet</servlet-name>
    <servlet-class>com.blogsphere.profile.upload_pfp_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload_pfp_servlet</servlet-name>
    <url-pattern>/upload_pfp_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_profile_servlet</display-name>
    <servlet-name>user_profile_servlet</servlet-name>
    <servlet-class>com.blogsphere.profile.user_profile_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_profile_servlet</servlet-name>
    <url-pattern>/user_profile_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>post_blog_servlet</display-name>
    <servlet-name>post_blog_servlet</servlet-name>
    <servlet-class>com.blogsphere.home.post_blog_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>post_blog_servlet</servlet-name>
    <url-pattern>/post_blog_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>home_feed_servlet</display-name>
    <servlet-name>home_feed_servlet</servlet-name>
    <servlet-class>com.blogsphere.home.home_feed_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home_feed_servlet</servlet-name>
    <url-pattern>/home_feed_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>like_servlet</display-name>
    <servlet-name>like_servlet</servlet-name>
    <servlet-class>com.blogsphere.home.like_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>like_servlet</servlet-name>
    <url-pattern>/like_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_blog_servlet</display-name>
    <servlet-name>delete_blog_servlet</servlet-name>
    <servlet-class>com.blogsphere.blog.delete_blog_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_blog_servlet</servlet-name>
    <url-pattern>/delete_blog_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_username_servlet</display-name>
    <servlet-name>update_username_servlet</servlet-name>
    <servlet-class>com.blogsphere.profile.update_username_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_username_servlet</servlet-name>
    <url-pattern>/update_username_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_pwd_servlet</display-name>
    <servlet-name>update_pwd_servlet</servlet-name>
    <servlet-class>com.blogsphere.profile.update_pwd_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_pwd_servlet</servlet-name>
    <url-pattern>/update_pwd_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>blog_details_servlet</display-name>
    <servlet-name>blog_details_servlet</servlet-name>
    <servlet-class>com.blogsphere.blog.blog_details_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blog_details_servlet</servlet-name>
    <url-pattern>/blog_details_servlet</url-pattern>
  </servlet-mapping>
</web-app>